.img-category {
  max-width: 120px !important;
  border-right: 1px lightpink solid;
}

.img-fluid.fluid-category {
  object-fit: cover;
  width: 100%;
}

.col-category {
  min-width: 0px !important;
}

.img-fluid.card-img-top {
  object-fit: cover;
  width: 100%;
}

.card-deck {
  text-align: -webkit-center;
}

@media only screen and (min-width: 768px) {
  .card-category {
    margin-bottom: 0;
    max-width: 255px;
  }

  #card-content-wrapper {
    display: inline;
  }

  .img-fluid.fluid-category {
    max-height: 230px;
  }

  .col-category {
    min-width: inherit;
  }

  .img-category {
    max-width: 100% !important;
    border-bottom: 1px lightpink solid;
    border-right: 0px;
  }

  .card-deck {
    justify-content: center;
  }
}
