.img-category {
  max-width: 120px !important;
  border-right: 1px lightpink solid;
}

.img-fluid.fluid-category {
  object-fit: cover;
  width: 100%;
  max-height: 253px;
}

.img-fluid.card-img-top {
  object-fit: cover;
  width: 100%;
  max-height: 253px;
}

@media only screen and (min-width: 768px) {
  .card-category {
    margin-bottom: 0;
    max-width: 255px;
  }

  #card-content-wrapper {
    display: inline;
  }

  .img-category {
    max-width: 100% !important;
    border-bottom: 1px lightpink solid;
    border-right: 0px;
  }

  .card-deck {
    justify-content: center;
  }
}
