.footer {
  background-color: #4192fdb4 !important;
  color: gray;
  bottom: 0;
  width: 100%;
  display: block;
  overflow: auto;
}
.footer-copyright {
  font-size: 85%;
  text-align: start;
  padding-left: 20px;
  overflow: hidden;
  color: hsla(0, 21%, 9%, 0.747);
  background-color: #b4c2ff !important;
}

@media only screen and (min-width: 768px) {
  .footer {
    color: gray;
    bottom: 0;
    width: 100%;
    display: block;
  }

  .footer-copyright {
    text-align: center;
    overflow: hidden;
    color: hsla(0, 21%, 9%, 0.747);
    background-color: #b4c2ff !important;
  }
}
