.footer {
  background-color: #fd415db4 !important;
  color: gray;
  bottom: 0;
  width: 100%;
  display: block;
  overflow: auto;
}
.footer-copyright {
  font-size: 85%;
  text-align: start;
  padding-left: 20px;
  overflow: hidden;
  color: hsla(0, 21%, 9%, 0.747);
  background-color: #ffb4bf !important;
}

.link-author {
  color: inherit;
  font-weight: bold;
}

.link-author:hover {
  color: inherit;
}

.footer span {
  color: black;
}

@media only screen and (min-width: 768px) {
  .footer {
    background-color: #ffb4bf;
    color: #ffb4bf;
    bottom: 0;
    width: 100%;
    display: block;
  }

  .footer-copyright {
    text-align: center;
    overflow: hidden;
    color: hsla(0, 21%, 9%, 0.747);
    background-color: #ffb4bf !important;
  }
}
