footer {
  background-color: #ffb4bf;
  color: gray;
  bottom: 0;
  position: absolute;
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  margin-bottom: 40px;
}
