.centrar {
  text-align: center;
}

.flex-column .nav-item a {
  color: rgb(0, 0, 0, 0.5);
}

.container {
  flex-direction: column;
  min-height: calc(100vh - 131px);
  justify-content: space-between;
}

#arrow-categories {
  margin-left: 5px;
}

.section-filter {
  text-align: end;
  border-bottom: 1px solid lightpink;
}

.btn-categories {
  margin: 5px;
  padding: 3px 3px 3px 6px;
  border-left: 1px solid lightpink;
}

.clear-right {
  clear: right;
}

.jumbotron {
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: blac;

  -webkit-box-shadow: 0px 0px 49px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 49px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 49px -26px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 768px) {
  .section-filter {
    display: none;
  }
}
