:root {
  /* --primary-color: #fd415db4;
  --primary-color-light: lightpink; */
  --primary-color: #41c1fd;
  --primary-color-light: #a8e3ffb4;
  --primary-color-lighter: #80d7ffb4;
}

.centrar {
  text-align: center;
}

.flex-column .nav-item a {
  color: rgb(0, 0, 0, 0.5);
}

.container {
  flex-direction: column;
  /* min-height: calc(100vh - 145px); */
  justify-content: space-between;
}

#arrow-categories {
  margin-left: 5px;
}

.section-filter {
  text-align: end;
  border-bottom: 1px solid var(--primary-color-light);
}

.btn-categories {
  margin: 5px;
  padding: 3px 3px 3px 6px;
  border-left: 1px solid var(--primary-color-light);
}

.clear-right {
  clear: right;
}

.jumbotron {
  background: var(--primary-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--primary-color-light),
    var(--primary-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--primary-color-light),
    var(--primary-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: blac;

  -webkit-box-shadow: 0px 0px 49px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 49px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 49px -26px rgba(0, 0, 0, 0.75);
}

.form-control:focus {
  outline: 0 !important;
  border-color: var(--primary-color) !important;
  box-shadow: 0px 0px 0px 0.2rem var(--primary-color-light) !important;
}

@media only screen and (min-width: 768px) {
  .section-filter {
    display: none;
  }
}
