.img-user:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.navbar {
  border-bottom: 1px solid lightblue;
}

.sidebar .nav-item.active .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-btn {
  margin: 0 !important;
  border-style: none !important;
  outline: none !important;
  background-color: transparent !important;
}

.fullscreen-modal .modal-dialog,
.modal-backdrop {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
