.text-price {
  color: green;
}

.text-card,
.text-price {
  margin-bottom: 0px;
}

.product-card {
  margin-top: 30px;
  border-radius: 5px;
  background-color: #fff;
  min-width: 285px !important;
}

.col {
  min-width: 340px !important;
}

.img-container {
  position: relative;
  left: 0;
  top: 0;
}

.img-fluid.card-img-top {
  max-height: 100%;
}

.sold-out-img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 100px;
}

.link-card {
  color: black;
}

.link-card:hover {
  color: black;
  text-decoration: none;
  cursor: auto;
}

.card-body {
  padding-bottom: 0.8rem !important;
}

.sold-out {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.text-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 285px;
}

.card-columns {
  column-count: 2;
}

.link-more {
  color: rgb(0, 0, 0, 0.6) !important;
  margin: 0;
  cursor: pointer;
}

.link-more:hover {
  text-decoration: underline !important;
}

@media only screen and (min-width: 768px) {
  .product-card {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fff;
  }

  .col {
    min-width: 45% !important;
  }

  .product-card {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #fff;
    min-width: 245px !important;
  }

  .text-description {
    width: 210px;
  }

  .img-fluid.card-img-top {
    max-height: 100%;
    height: 282px !important;
  }
}

@media only screen and (min-width: 1036px) {
  .col {
    min-width: 33% !important;
  }
}

@media only screen and (min-width: 1260px) {
  .col {
    min-width: 20% !important;
  }
}
