.text-price {
  color: green;
}

.text-card,
.text-price {
  margin-bottom: 0px;
}

.product-card {
  margin-top: 40px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.15, 1.15);
}

.product-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

.product-card:hover::after {
  opacity: 1;
}
