.container-product {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
}

.row {
  justify-content: center;
}

.section-product-page {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
}

.form-add-cart {
  justify-content: center;
}

.txt-price-desc {
  font-size: 0.65rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .data-section {
    text-align: left;
    max-width: 40vw;
    padding: 10px;
  }

  .txt-desc {
    min-height: 20vh;
  }

  .form-add-cart {
    position: absolute;
    bottom: 10px;
    width: 98%;
    right: 0px;
  }

  .row {
    justify-content: left;
  }
  .section-product-page {
    flex: none;
  }
  .img-section {
    margin: auto 10px;
  }

  .btn-add {
    float: right;
  }

  .txt-price-desc {
    position: absolute;
    margin-bottom: 0;
    font-size: 12px;
    bottom: 0px;
    right: 20px;
  }

  .container-product {
    display: grid;
    grid-template-columns: minmax(100px, auto) 1fr;
    border-radius: 10px;
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
  }
}
