.shoppingCart {
  right: 60px;
  top: -48px;
  max-height: 45px;
  border-radius: 50%;
}

#shoppingCartIcon {
  width: 45px;
  margin-left: auto;
  margin-right: auto;
}

.amountCart {
  position: absolute;
  z-index: 2;
  right: 9px;
  top: 12px;
  justify-content: center;
  font-size: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.listCart {
  position: absolute;
  z-index: 3;
  left: -350px;
  right: 0;
  padding: 0;
  background-color: white;
  list-style: none;
}

.btn-danger {
  padding: 1px 8px !important;
}

.btn-whatsapp {
  color: white !important;
  background-color: #01e675 !important;
  border-radius: 5px;
  border-style: none;
  padding: 5px 10px;
}

.img-cart {
  height: 100px !important;
  width: 150px;
  object-fit: cover;
  object-position: center;
}

.cart-controller {
  max-height: calc(100vh - 188px);
  overflow-y: auto;
  overflow-x: hidden;
}

.list-group-item h4 {
  margin: 0;
}

#shoppingCartIcon:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  #shoppingCartIcon {
    left: auto;
  }

  .shoppingCart {
    position: absolute;
    right: 5px;
    top: 0px;
    max-height: 45px;
  }

  .amountCart {
    position: absolute;
    z-index: 2;
    right: 13.5px;
    top: 11px;
    font-size: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
  }
}
